
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?3lrvq2');
  src:  url('../../fonts/icomoon.eot?3lrvq2#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?3lrvq2') format('truetype'),
    url('../../fonts/icomoon.woff?3lrvq2') format('woff'),
    url('../../fonts/icomoon.svg?3lrvq2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
    